<div class="container">

  <app-header></app-header>
  <div class="button-container">
    <button nz-button [nzSize]="'large'" nzType="primary" routerLink="/tasks/add">Add task</button>
  </div>

  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
    <tr>
      <!--        [nzSortOrder]="column.sortOrder"-->
      <!--        [nzSortFn]="column.sortFn"-->
      <!--        [nzSortDirections]="column.sortDirections"-->
      <!--        [nzFilterMultiple]="column.filterMultiple"-->
      <!--        [nzFilters]="column.listOfFilter"-->
      <!--        [nzFilterFn]="column.filterFn"-->
      <th
        *ngFor="let column of listOfColumns"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.title }}</td>
      <td>{{ data.description }}</td>
      <td>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select a priority"
          [(ngModel)]="data.priority"
          (ngModelChange)="onPriorityChange(data.id, $event)">
          <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}"
                     *ngFor="let item of priorityOptions$"></nz-option>
        </nz-select>
      </td>
      <td>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select a status"
          [disabled]="canChangeStatus(data.id)"
          [(ngModel)]="data.status"
          (ngModelChange)="onStatusChange(data.id, $event)">
          <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}"
                     *ngFor="let item of statusOptions$"></nz-option>
        </nz-select>
      </td>
      <nz-select
        [(ngModel)]="data.dependency"
        nzMode="multiple"
        nzPlaceHolder="Select dependencies"
        (ngModelChange)="updateTask(data)">
        <nz-option
          *ngFor="let t of listOfData"
          [nzValue]="t.id"
          [nzLabel]="t.title"
          [nzDisabled]="isItself(data.id, t.id)">
        </nz-option>
      </nz-select>
      <td>
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="deleteTask(data.id)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="button-container">
    <button nz-button [nzSize]="'large'" nzType="primary" (click)="resetTask()">Reset tasks</button>
  </div>
</div>

