<div class="container">

  <app-header></app-header>
  <div class="button-container">
<!--    <button nz-button [nzSize]="'large'" nzType="primary" routerLink="/tasks/add">Add task</button>-->
    <button nz-button [nzSize]="'large'" nzType="primary" (click)="openModal()">Add task</button>
  </div>
  <div class="table-filters">
    <nz-select
      nzAllowClear
      nzPlaceHolder="Select a status"
      [(ngModel)]="selectedStatus"
      (ngModelChange)="onStatusFilterChange($event)">
      <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}"
                 *ngFor="let item of statusOptions$"></nz-option>
    </nz-select>
    <nz-select
      nzAllowClear
      nzPlaceHolder="Select a priority"
      [(ngModel)]="selectedPriority"
      (ngModelChange)="onPriorityFilterChange($event)">
      <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}" *ngFor="let item of priorityOptions$"></nz-option>
    </nz-select>
  </div>
  <nz-table #filterTable [nzData]="filteredData" nzTableLayout="fixed">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumns">
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.title }}</td>
      <td>{{ data.description }}</td>
      <td>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select a priority"
          [(ngModel)]="data.priority"
          (ngModelChange)="onPriorityChange(data.id, $event)">
          <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}"
                     *ngFor="let item of priorityOptions$"></nz-option>
        </nz-select>
      </td>
      <td>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select a status"
          [disabled]="canChangeStatus(data.id)"
          [(ngModel)]="data.status"
          (ngModelChange)="onStatusChange(data.id, $event)">
          <nz-option nzLabel="{{item.value}}" nzValue="{{item.value}}"
                     *ngFor="let item of statusOptions$"></nz-option>
        </nz-select>
      </td>
      <td >
        <nz-select
          style="width: 100px;"
          *ngIf="listOfData?.length"
          [(ngModel)]="data.dependency"
          nzMode="multiple"
          nzPlaceHolder="Select dependencies"
          (ngModelChange)="updateTask(data)">
          <nz-option
            *ngFor="let t of listOfData"
            [nzValue]="t.id"
            [nzLabel]="t.title"
            [nzDisabled]="isItself(t.id,data.id)">
          </nz-option>
        </nz-select>
      </td>
      <td>
        <button nz-button [nzSize]="'large'" nzType="primary" (click)="deleteTask(data.id)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="button-container">
    <button nz-button nzDanger [nzSize]="'large'" nzType="primary" (click)="showConfirm()">Reset tasks</button>
  </div>
</div>

